body {
    margin: 0;
    padding:0;
    color: #707070;
}
.top-container {
    text-align: center;
    padding: 1em 0 2em;
}
.top-container h2 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}
.top-container p {
    font-size: 20px;
    margin: 0;
    padding: 1em 0 0.5em;
}
.top-container span {
    font-size: 40px;
    font-weight: bolder;
}
.top-container form {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.bottom-container {
    padding: 2em 5.2em 2em;
    background-color: #E3E3E3;
}
.bottom-container p {
    padding: 0 0 0.3em;
    margin: 0;
    font-weight: bold;
    font-size: 16px;
}
.loan-type {
    line-height: 1.5em;
    font-size: 15px;
    padding: 0 0 1em;
}
.down-interest {
    font-size: 16px;
    font-weight: bold;
}

.down-interest input {
    padding: 5px;
    margin: 5px 0;
    color:#707070;
}

.home-value-style {
    font-size: 16px;
    font-weight: bold;
}
.home-value-style input {
    padding: 5px;
    margin: 5px 0;
    color:#707070;
}